

  
  /* @import url('https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Open+Sans:wght@400;500;800&family=Raleway:wght@400;600&display=swap'); */

  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Yeseva+One&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family:'Yeseva''Lato';
    box-sizing: border-box; /* Border-box: padding use korle box boro hoi. Atake control kore. */
    scroll-behavior: smooth;     /* about page a click korle smoothly scroll hobe. suddenly na*/
}
h1,h2,h3,h4,h5,h6{font-family: 'Yeseva';}
p{font-family: 'lato';}
/*------headline a oswald use so h ke dia upore only open sens p are jonn raklam------*/
/*------BG on scroll start- for plug------------*/


    @keyframes bgDown {
        from{transform: translateY(-100px);}
        to{transform: translateY(0);} 
    }  
    
    
/* plugin preloader start--https://www.cssportal.com*/
.preloader{position: fixed;
width: 100%;
height: 100vh;
background: rgb(1, 22, 66);z-index: 6;
display: flex;justify-content: center;align-items: center;}

.custom-loader {
    width: 50px;
    height: 50px;
    display: grid;
}
.custom-loader::before,
.custom-loader::after {    
    content:"";
    grid-area: 1/1;
    --c: radial-gradient(farthest-side,#f8bf02 92%,#0000);
    background: 
      var(--c) 50%  0, 
      var(--c) 50%  100%, 
      var(--c) 100% 50%, 
      var(--c) 0    50%;
    background-size: 12px 12px;
    background-repeat: no-repeat;
    animation: s2 1s infinite;
}
.custom-loader::before {
  margin:4px;
  filter:hue-rotate(45deg);
  background-size: 8px 8px;
  animation-timing-function: linear
}

@keyframes s2{ 
  100%{transform: rotate(.5turn)}
}

/* ------------plugin preloader end*-------------/
/*------Back to top button start-for plugin-------*/
.back_to_top {position:fixed;bottom: 2px;right: 40px;
   /*-- first time test then jq use korbo for condition--*/
    animation:btt 0.4s ease-in ;z-index: 4;
    }
/*------Back to top button end--------*/
/*-------- --Menu start -------------*/
.navbar{padding: 13px 0px 13px;}
.navbar{position: fixed; 
background:rgba(255,255,255,0.2);width: 100%; 
   transition:.4s;z-index: 5;}

.navbar-expand-lg .navbar-collapse {
    margin-right: 0;font-size: 14px;}
.navbar-brand {font-size: 35px;font-weight: 600;
}
.nav-link {font-weight: 700;color: white;font-size: 15px;}
.nav-link:hover {color: rgb(3, 172, 158);}
.btn{color: white;}

.nav_icon{list-style: none;}
.nav_icon li {color: #e1b73a;}

.container img{font-size: 8px;}
/*----------------Hero part start--------------------*/


.hero_part{background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 740px;
}
.btn1,.btn2 {
  border-radius: 2%;
  font-size: 13px;
  padding: 7px 19px;
}
.btn1{ background: rgba(0,0,0,0.3)}
.btn2{ background:rgba(255,255,255,0.2)}
.bg_animation{animation: bgDown 0.4s ease-out;
}
.hero_part h2{margin-top: 200px;font-size: 85px;font-weight: 600;}
.hero_part h3{font-size: 19px;}

/*---------------------second part start--------------------*/

.second_con_main{width: 100%;}
.second_con_main h4{ color: #cc9900;font-weight: 400;
font-size: 30px;
}
.second_img2 img{width: 75%;}
 

/*---------------------Fine part start--------------------*/

.fine_part{background-image: url(../img/bg2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.fine_img2{background-image: url(../img/bg-txt2.png);
width: 69%;}
.fine_con h4{ color: white;font-weight: 400;
  font-size: 30px;
  }
.fine_con p{ color: white;
  font-size: 15px;
  }
.fine_list{font-size: 13px;position: relative;}

/* .fine_list ul{list-style: none;} */

.fine_list {
  position: relative;
}
.fine_img3 {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-60%);
  z-index: 0;
width: 0%;}
.fin{ z-index: 2;position: relative;left: 30%;}

/*-----------ap part start --------------*/

.ap_part{background-image: url(..//img/bg4.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;height:100%;
}
.span{align-items: right;}
.ap1{justify-content: space-between;color:#cc9900 ;
border-bottom: 1px solid #e1b73a;
}
.spn {
  font-weight: 600;
  font-size: 20px;
}
.ap h4{color:#cc9900;font-size: 35px;font-weight: 600;}
.ap1 h5 {
  font-weight: 600;
  font-size: 20px;
}
.ap_con_main ul {
    list-style: none;
    padding: 0px 55px;
}
.ap_special{border: 1px solid #f7e4ac;}
.app_btn{background: #cc9900;color: whitesmoke;
border-style: none;padding: 3px 14px ;
}



/*-----------Guest part start --------------*/

.Guest{background-image: url(..//img/bg3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.Guest_con h4{ color: white;font-weight: 400;
  font-size: 30px;
  }
.Guest_con p{ color: white;
  font-size: 15px;}

.Guest_con{background-image: url(..//img/bg-txt.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/*-----------appetisers- part start --------------*/
.appetisers{background-image: url(..//img/bg4.png);}
.app img{background-repeat: no-repeat;
background-size: cover;background-position: center;}
.btn3{background:#e1b73a;}
.form_input label{color: #e1b73a;font-weight: 500;}
.form_input input{outline: none;border: 1px solid #e1b73a;
font-style: italic;width: 100%;
}

/*-----------footer part start --------------*/

.foot{background: black;}
.foot p{color:rgb(192, 189, 189)}
.f_con li{list-style: none;color: rgb(214, 213, 213);}
.f_con p{padding:0 30px}
.f_con h6{font-size: 20px}
.f_con ul{padding: 0 0;}
.f_con ul li i{ width: 40px;height: 40px;
  border: 2px solid rgb(192, 189, 189);
  display: flex;justify-content: center;align-items: center;
  border-radius: 10%;}
.f_list{list-style: none;font-size: 25px;}

ul{padding-left: 0;}


.flast{background: #000418;;}
/*-----------Media Query part start --------------*/
@media screen and (max-width: 1400px) {
  .Guest_con {margin: 0 150px 0 150px;} 
  .Guest_con {padding: 0 150px 0 150px;} 
}
@media screen and (max-width: 992px) {
  .app_con {padding: 0 0 0 15px;} 
  .Guest_con {padding: 0 100px 0 100px;} 
}
@media screen and (max-width: 786px) {
  .fine_img2 {width: 100%;}
  .second_img2 img { width: 100%;} 
  .Guest_con {padding: 0 60px 0 60px;} 
}

@media screen and (max-width: 576px) {
  .Guest_con {padding: 0 20px 0 20px;} 
}

@media screen and (max-width: 320px) {
  .hero_part{
    height: 540px;}
.hero_part h2{margin-top: 120px;font-size: 35px;}
  .second_img2 img {
    width: 100%;}
    .Guest_con {padding: 0 }
    .Guest_con {margin: 0 }

  .Guest_con img{width: 100%;} 
  .appe{flex-direction: column;text-align: center;}

}
